#fundo{
    background-image: url(imagens/fundonew2.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

#link01{
    color: rgb(24, 36, 199);
}

#link02{
    color:rgb(177, 211, 245);
}

#link03{
    color:cyan;
}

#link04{
    color:cyan;
}

#link05{
    color:cyan;
}

#link06{
    color: white;
}

#link09{
    color:rgb(206, 205, 211);
}

#link10{
    color:white;
}


body{
    margin: 0;
}

#menu ul{
    margin: 0;
    background-color: rgb(14, 221, 176);
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    padding: 10px 10px;
    display: inline-block;

    color:rgb(0, 0, 0);
    text-decoration: none;
}

#menu ul li a:hover{
    color: rgb(2, 139, 2);
}

#nome{
    color: rgb(159, 233, 255);
}


#foto{
    height: 200px;
    height: 200px;
    border-radius: 30%;
}

#dadosbasic{
    color:rgb(206, 194, 197);
}

#foto2{
    height: 200px;
    height: 200px;
    border-radius: 30%;
}


#fundo02{
    background-image: url(imagens/dados02.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}


#fundo03{
    background-image: url(imagens/dados03.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

#dadosbasic01{
    color:rgb(206, 194, 197);
}

#comercial{
    color:greenyellow;
}

#comum{
    color:greenyellow;
}

#fundo4{
    background-image: url(imagens/dados04.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

#link11{
    color: white;
}

#caderno{
    height: 200px;
    height: 200px;
    border-radius: 30%;
}

#link12{
   color:grey;
}

#link13{
    color:greenyellow;
}

#link14{
    color:indianred;
}

#foto08{
    height: 200px;
    height: 200px;
    border-radius: 30%; 
}

#link00{
    color:black;
}

#fundo05{
    background-image: url(imagens/dados05.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

#link33{
    color:rgb(201, 48, 48);
}


#menu02 ul{
    margin: 0;
    background-color: rgb(6, 207, 180);
    list-style: none;
}

#menu02 ul li{
    display: inline;
}

#menu02 ul li a{
    padding: 2px 2px;
    display: inline-block;

    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu02 ul li a:hover{
    color: rgba(39, 138, 0, 0.842);
}


#Nome03{
    color:rgb(24, 36, 199);
}


#fundo07{
    background-image: url(imagens/fundonew03.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(65, 133, 153);
}



#estilocor{
    color:rgb(65, 133, 153);
}


.botao{
    padding: 10px 8px;
    width: 50px;
    color: white;
    background: yellowgreen;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}